/* Change autocomplete styles in WebKit
https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/
*/

@mixin autofill() {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    @content;
	}
}
