{
    "extends": [
        "react-app",
        "airbnb",
        "plugin:jsx-a11y/recommended",
        "prettier"
    ],
    "plugins": [
        "jsx-a11y",
        "prettier"
    ],
    "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"],
            "moduleDirectory": ["node_modules", "src/"]
          }
        }
    },
    "rules": {
        "react/jsx-props-no-spreading": "off",
        "react/destructuring-assignment": "off",
        "react/no-unknown-property": ["error", { "ignore": ["css"] }],
        "react/button-has-type": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "no-param-reassign": "off",
        "prefer-destructuring": "off",
        "no-unused-vars": "off",
        "camelcase": "off",
        "no-restricted-exports": "off",
        "react/require-default-props": "off",
        "semi": 0,
		"react/react-in-jsx-scope": "off",
        "react/function-component-definition": "off",
        "arrow-body-style": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
        "prettier/prettier": [
            "error", {
                "semi": false,
                "printWidth": 105
            }
        ],
        "import/extensions": 0,
        "no-tabs": ["error", {"allowIndentationTabs": true}]
    }
}