@import '../../scss/variables/media-queries.scss';


.button {
  flex-grow: 1;
  background-color: var(--light);
  cursor: pointer;

  &:focus {
    outline: none;
    border: 1px solid var(--turquoise);
    box-shadow: 0 0 1px 1px var(--turquoise);
  }

  @include mq-hover() {
    color: var(--light);
    background-color: var(--gray);
    border: 1px solid var(--gray);
  }
}


.active {
  color: var(--light);
  border: 1px solid var(--orange);
  background-color: var(--orange);
  box-shadow: 0 0 1px 1px var(--orange);

  @include mq-hover() {
    color: var(--light);
    border: 1px solid var(--orange);
    background-color: var(--orange);
    box-shadow: 0 0 1px 1px var(--orange);
  }

  &:focus {
    border: 1px solid var(--orange);
    box-shadow: 0 0 1px 1px var(--orange);
  }
}

.submit {
  @include mq-hover() {
    color: var(--light);
    background-color: var(--green);
    border: 1px solid var(--green);
  }
}