@import '../../scss/variables/media-queries.scss';

.wrapper {
  display: flex;
  padding: 1.2rem 0;
  border-bottom: 2px solid var(--gray);
  @include mq-to($hands-max) {
    flex-flow: column-reverse;
  }

  @include mq-from($hands-min) {
    justify-content: space-between;
  }
}

.input {
  @include mq-to($hands-max) {
    margin-bottom: 1.6rem;
  }

  @include mq-from($hands-min) {
    flex-grow: 1;
  }
}