@import '../../scss/variables/media-queries.scss';

.wrapper {
  display: flex;
  button {
    &:not(:last-of-type) {
      margin-right: .4rem;
    }
    &:last-of-type {
      @include mq-from($hands-min) {
        margin-right: 1.2rem;
      }
    }
  }
}