:root {
  --light: #fff;
  --dark: rgba(31,35,36, 1);
  --gray: rgba(140,140,140, 1);
  --beige: rgba(242,226,196, 1);
  --turquoise: rgba(28,108,140, 1);
  --yellow: rgba(242,185,15, 1);
  --orange: rgba(242,121,15, 1);
  --green: rgba(35,140,42, 1);
  --red: rgba(217,43,4, 1);
}